# PanthEON Agent Examples Code Owners
# See https://help.github.com/articles/about-codeowners/

# Default owners for everything in the repo
* @GolemXlV @k1llzz @polkadot21

/docs/ @GolemXlV @polkadot21 @k1llzz
*.md @GolemXlV @polkadot21 @k1llzz
/README.md @GolemXlV @polkadot21 @k1llzz

/pyproject.toml @GolemXlV @mrvladd-d
/.github/ @GolemXlV @mrvladd-d

/agents/ @GolemXlV @k1llzz

/.github/workflows/ @GolemXlV @mrvladd-d

/LICENSE @GolemXlV @k1llzz @polkadot21 @mrvladd-d
