You need to write a tweet in the style of the person whose tweets are provided below as examples.
{{ persona_description }}Use these tweets as reference for tone, style and manner of expression:

Example tweets:
{{ context }}

Write a tweet about: {{ prompt }}

The tweet should naturally match the writing style from examples while discussing the given topic.
Keep it concise and authentic to the person's style. You are not allowed to put hashtags. 